flows/flow1.txt
[{"id":"de3415b.e9fa7e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ba903803.91f118","type":"websocket in","z":"de3415b.e9fa7e8","name":"","server":"","client":"c24956db.64edf8","x":260,"y":200,"wires":[["3867492d.17be36"]]},{"id":"3867492d.17be36","type":"ui_text","z":"de3415b.e9fa7e8","group":"1953a0c6.76b6df","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":590,"y":200,"wires":[]},{"id":"48155c26.57e824","type":"ui_button","z":"de3415b.e9fa7e8","name":"","group":"1953a0c6.76b6df","order":3,"width":0,"height":0,"passthru":false,"label":"Click","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello","payloadType":"str","topic":"","x":220,"y":140,"wires":[["bfb21c2.bde23e"]]},{"id":"bfb21c2.bde23e","type":"websocket out","z":"de3415b.e9fa7e8","name":"","server":"","client":"c24956db.64edf8","x":500,"y":140,"wires":[]},{"id":"aae58280.fd149","type":"ui_level","z":"de3415b.e9fa7e8","group":"1953a0c6.76b6df","order":1,"width":0,"height":0,"name":"","label":"Liquid level","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"ml","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"3","colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"segments","peakmode":false,"peaktime":3000,"x":210,"y":280,"wires":[]},{"id":"c24956db.64edf8","type":"websocket-client","z":"","path":"ws://localhost:3000 ","tls":"","wholemsg":"false"},{"id":"1953a0c6.76b6df","type":"ui_group","z":"","name":"Dashboard","tab":"c38315d9.79e9f8","order":1,"disp":true,"width":"4","collapse":false},{"id":"c38315d9.79e9f8","type":"ui_tab","z":"","name":"Home","icon":"","order":1,"disabled":false,"hidden":false}]


