flows/flow2.txt
[{"id":"e6f1eace.1966a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"da1ea36a.23377","type":"OpcUa-Server","z":"e6f1eace.1966a8","port":"49320","name":"KEPServerOPC","endpoint":"opc.tcp://127.0.0.1:49320","x":200,"y":60,"wires":[["8b6b1bd0.b75cd8"]]},{"id":"8b6b1bd0.b75cd8","type":"debug","z":"e6f1eace.1966a8","name":"serverStatus","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"959d99f.be76868","type":"OpcUa-Client","z":"e6f1eace.1966a8","endpoint":"1cfd8e29.aefcc2","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1000","timeUnit":"ms","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":400,"y":280,"wires":[["714939d4.5cc3e8"]]},{"id":"714939d4.5cc3e8","type":"debug","z":"e6f1eace.1966a8","name":"readRegister0_Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":280,"wires":[]},{"id":"8d0015ed.5bc1c8","type":"inject","z":"e6f1eace.1966a8","name":"readRegister0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=nodeMCU TCP/IP.nodeMCU.readRegister0","payload":"","payloadType":"num","x":180,"y":280,"wires":[["959d99f.be76868"]]},{"id":"e8a3e9cb.932de8","type":"inject","z":"e6f1eace.1966a8","name":"readRegister1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=nodeMCU TCP/IP.nodeMCU.readRegister1","payload":"","payloadType":"num","x":180,"y":420,"wires":[["f5ee11eb.e6387"]]},{"id":"f5ee11eb.e6387","type":"OpcUa-Client","z":"e6f1eace.1966a8","endpoint":"1cfd8e29.aefcc2","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1000","timeUnit":"ms","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":400,"y":420,"wires":[["e218124a.3b41a"]]},{"id":"e218124a.3b41a","type":"debug","z":"e6f1eace.1966a8","name":"readRegister1_Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":420,"wires":[]},{"id":"1cfd8e29.aefcc2","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://127.0.0.1:49320","secpol":"Basic256Sha256","secmode":"SignAndEncrypt","login":false}]