flows/flow2.txt
[{"id":"e6f1eace.1966a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"da1ea36a.23377","type":"OpcUa-Server","z":"e6f1eace.1966a8","port":"49320","name":"KEPServerOPC","endpoint":"opc.tcp://127.0.0.1:49320","x":200,"y":60,"wires":[["8b6b1bd0.b75cd8"]]},{"id":"959d99f.be76868","type":"OpcUa-Client","z":"e6f1eace.1966a8","endpoint":"1cfd8e29.aefcc2","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1000","timeUnit":"ms","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA readClient0","x":460,"y":180,"wires":[["14596718.7e9059"]]},{"id":"8d0015ed.5bc1c8","type":"inject","z":"e6f1eace.1966a8","name":"readRegister0","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=nodeMCU TCP/IP.nodeMCU.readRegister0","x":220,"y":180,"wires":[["959d99f.be76868"]]},{"id":"7f1048b2.ffede8","type":"OpcUa-Client","z":"e6f1eace.1966a8","endpoint":"1cfd8e29.aefcc2","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA writeClient0","x":740,"y":420,"wires":[[]]},{"id":"f5ee11eb.e6387","type":"OpcUa-Client","z":"e6f1eace.1966a8","endpoint":"1cfd8e29.aefcc2","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1000","timeUnit":"ms","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA readClient1","x":460,"y":281,"wires":[["1bbbe54.08b8c1b"]]},{"id":"8b6b1bd0.b75cd8","type":"debug","z":"e6f1eace.1966a8","name":"serverStatus","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"9eaf4945.bb5a18","type":"OpcUa-Item","z":"e6f1eace.1966a8","item":"ns=2;s=nodeMCU TCP/IP.nodeMCU.writeRegister0","datatype":"UInt16","value":"","name":"NodeMCU_writeRegister0","x":470,"y":420,"wires":[["7f1048b2.ffede8"]]},{"id":"f3b78d1a.b1e06","type":"ui_button","z":"e6f1eace.1966a8","name":"button","group":"1953a0c6.76b6df","order":0,"width":0,"height":0,"passthru":false,"label":"Click","tooltip":"","color":"","bgcolor":"","icon":"","payload":"20","payloadType":"num","topic":"","x":190,"y":420,"wires":[["9eaf4945.bb5a18"]]},{"id":"e8a3e9cb.932de8","type":"inject","z":"e6f1eace.1966a8","name":"readRegister1","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=nodeMCU TCP/IP.nodeMCU.readRegister1","x":210,"y":280,"wires":[["f5ee11eb.e6387"]]},{"id":"14596718.7e9059","type":"ui_text","z":"e6f1eace.1966a8","group":"1953a0c6.76b6df","order":1,"width":0,"height":0,"name":"readRegister0_Data","label":"readRegister0","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":180,"wires":[]},{"id":"1bbbe54.08b8c1b","type":"ui_text","z":"e6f1eace.1966a8","group":"1953a0c6.76b6df","order":2,"width":0,"height":0,"name":"readRegister1_Data","label":"readRegister1","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":280,"wires":[]},{"id":"1cfd8e29.aefcc2","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://127.0.0.1:49320","secpol":"Basic256Sha256","secmode":"SignAndEncrypt","login":false},{"id":"1953a0c6.76b6df","type":"ui_group","z":"","name":"Dashboard","tab":"c38315d9.79e9f8","order":1,"disp":true,"width":"4","collapse":false},{"id":"c38315d9.79e9f8","type":"ui_tab","z":"","name":"Home","icon":"","order":1,"disabled":false,"hidden":false}]
